html, body {
  margin: 0;
  background: #281313;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: #171717;
  padding: 0 25px;
  position: sticky;
  top: 0;
}

.header-red{
  color: #C43939;
}

.header-white{
  color: white;
}

.chatbox-container {
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  max-width: 300px;
  margin:auto;
  flex-direction: column;
  align-items: left;
}

.message-box {
  margin: 0 20px 20px;
  max-width: 75%;
}